@model List<HCAMiniEHR.Models.LabOrder>

<div class="container mt-4">
    <h2 class="text-primary mb-3">Lab Orders</h2>

    <a asp-action="Create" class="btn btn-success mb-3">
        + New Lab Order
    </a>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Patient</th>
                <th>Appointment</th>
                <th>Test Name</th>
                <th>Status</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var l in Model)
            {
                <tr>
                    <td>@l.Appointment?.Patient?.FullName</td>
                    <td>@l.Appointment?.AppointmentId</td>
                    <td>@l.TestName</td>
                    <td>@l.Status</td>
                    <td>
                        <a asp-action="Edit"
                           asp-route-id="@l.LabOrderId"
                           class="btn btn-sm btn-warning me-1">
                            Edit
                        </a>

                        <a asp-action="Delete"
                           asp-route-id="@l.LabOrderId"
                           class="btn btn-sm btn-danger">
                            Delete
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
